<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fnaffrpbhef@s-z.sz</string>
	<key>contactName</key>
	<string>René Schwaiger</string>
	<key>description</key>
	<string> </string>
	<key>name</key>
	<string>Cram</string>
	<key>uuid</key>
	<string>E848011F-C70F-4DA9-AB94-C106BE812ED1</string>
</dict>
</plist>
