<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>fnaffrpbhef@s-z.sz</string>
	<key>contactName</key>
	<string>René Schwaiger</string>
	<key>description</key>
	<string> </string>
	<key>mainMenu</key>
	<dict>
		<key>excludedItems</key>
		<array>
			<string>99BE81FB-D38C-40FA-84BC-96D89B7EA781</string>
			<string>1BCD5CBB-8C37-44EC-8D23-F8E87E1AD09C</string>
			<string>285772AA-D54F-435B-AAB6-FDF2AAE3E4EF</string>
		</array>
		<key>items</key>
		<array>
			<string>8A8F1F49-48C2-4FD6-93F7-FC7A131C8956</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Cram</string>
	<key>uuid</key>
	<string>E848011F-C70F-4DA9-AB94-C106BE812ED1</string>
</dict>
</plist>
